@media (max-width: 1024px) {
  /* obsie */
  .subtitle {
    font-size: 18px;
  }
  .fourth-title {
    font-size: 25px;
  }
  .second-title {
    font-size: 50px;
  }
  .nav-list {
    margin-right: 110px;
  }
  .nav__item-link {
    font-size: 18px;
  }
  .main__title-first {
    font-size: 60px;
  }
  .subtitle--size_line_height {
    font-size: 178x;
  }
  .button {
    padding: 13px 29px;
  }
  .job {
    margin-top: 80px;
  }
  .card-subtitle {
    font-size: 15px;
  }
  .card-icon {
    max-width: 70px;
    max-height: 70px;
  }
  .card-title {
    font-size: 25px;
  }
  .job-card__title {
    margin-top: 15px;
  }
  .about-company {
    margin-top: 90px;
  }
  .stages-work {
    margin-top: 90px;
  }
  .stages-work-wrapper {
    margin-top: 32px;
  }
  .stages-work-wrapper .stages-work-wrapper__ol-list .stages-work-wrapper__ol-list-item:last-child {
    margin-top: 34px;
  }
  .stages-work-wrapper .stages-work-wrapper__ol-list .stages-work-wrapper__ol-list-item {
    margin-top: 35px;
  }
  .reasons-choice {
    margin-top: 90px;
  }
  .reasons-choice-content {
    padding: 60px 0px 60px 0px;
  }
  .reasons-choice__second-title {
    max-width: 390px;
    margin: 23px 0px 70px 0px;
  }
  .portfolio__wrapper {
    margin-top: 30px;
  }
  .portfolio {
    margin-top: 90px;
  }
  .portfolio__subtitle--color_size {
    font-size: 20px;
  }
  .portfolio__second-title {
    margin: 10px 0px 10px 0px;
  }
  .our-clients__subtitle {
    font-size: 20px;
  }
  .our__clients-content {
    padding: 70px 0px 100px 0px;
  }
  .reviews__subtitle--color {
    font-size: 20px;
  }
  .reviews__warpper {
    margin-top: 40px;
  }
  .reviews__text {
    margin-top: 14px;
  }
  .reviews__card:nth-child(2) {
    max-height: 389px;
  }
  .reviews__text {
    font-size: 22px;
  }
  .reviews-name-and-surname__text {
    margin: 11px 0px 8px 0px;
    font-size: 16px;
  }
  .reviews__card:first-child {
    max-height: 370px;
  }
  .reviews__card:nth-child(3) {
    max-height: 274px;
  }
  .ready {
    margin-top: 40px;
    padding: 79px 0px 68px 0px;
  }
}
